@font-face
   font-family 'PT Sans'
   font-style normal
   font-weight normal
   src url(../fonts/pt_sans-regular.woff2) format('woff2'), url(../fonts/pt_sans-regular.woff) format('woff')

body
    font-family 'PT Sans', Helvetica, Arial, sans-serif

button
    display block
    margin 0 auto
    font-family 'PT Sans', Helvetica, Arial, sans-serif
    cursor pointer

.title
.greeting
    text-align center

.title
    color #999
